<?xml version="1.0" encoding="UTF-8" standalone="no"?><Dados>	
	<Facebook AcessToken="EAAb1xNqnPAcBAFpC6yZCPtFvTZB22CV8RjitcWBHrUfWfMys0cFpaFcjbLtIggy3qqfC4Hgl1GnEVnh4I34xBzb2L0hsuQOZBB44rRkn8LphPLdvSulL0hF7pUXG2f5Cm6ZCwuLT1sPNIZBZAJkLQdkLNZAtOxddLJlpQ8rls0nZBmaLORsMZClHx" AppID="teste" AppSecret="teste"/>
	<Twitter AccessToken="1047106477910085633-GWY5PA98YwxX66JAHnQJb6wQV6hde4"></Twitter></Dados>