<?xml version="1.0" encoding="UTF-8" standalone="no"?><Dados>	
	<Facebook AppSecret="b3eb507cabf5953d792611b8840500e8" AppID="2190697787876245" AcessToken="EAAb1xNqnPAcBAFpC6yZCPtFvTZB22CV8RjitcWBHrUfWfMys0cFpaFcjbLtIggy3qqfC4Hgl1GnEVnh4I34xBzb2L0hsuQOZBB44rRkn8LphPLdvSulL0hF7pUXG2f5Cm6ZCwuLT1sPNIZBZAJkLQdkLNZAtOxddLJlpQ8rls0nZBmaLORsMZClHx"/>
</Dados>